.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.8em;
}
.portfolio__item {
    /* background: var(--color-bg-variant); */
    background: #0c2200 ;
    padding: 1.3rem;
    border-radius:2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item:hover{
    border-color: var(--color-bg-variant);
    background: transparent;
}
.portfolio-item-img {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 250px;
}
.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ////////// MEDIAS QUERIES (MEDIUM DEVICES) ////////  */
@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr ;
        gap: 1.2rem;
    }
}
/* ////////// MEDIAS QUERIES (SMALL DEVICES) ////////  */
@media screen and (max-width:650px) {
    .portfolio__container {
        grid-template-columns:  1fr ;
        gap: 1rem;
        margin: 5% !important;
    }
    .portfolio__item {
        background: var(--color-bg-variant);
        width: 95%;
        margin: auto;
        border-radius: 1rem;
    }
}