
/* about me ---------------- -- */
.about__container {
    display: grid;
    grid-template-columns: 45% 50%;
    gap:2%;
    padding-bottom: 3rem;
    /* margin: 2rem; */
} 
.about__me {
    width:30vw;
    height: inherit;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display:grid;
    /* margin-top: -10%; */
    margin-left: -4rem;
}

.highlight__word {
    color: green;
}
.about__me-image {
    visibility: hidden;

}
.about__me-image:hover {
    transform: rotate(0);
}
.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
h6{
    color: rgb(253, 253, 253);
}
.about__card {
    background: var(--gray-100);
    background-color: rgba(0,0,0,1);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: rgb(250,250,250);
    border-color: var(--gray-100);
    cursor: default;
}

.about__icon {
    color: var(--blue-100);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size:1.5rem;
}
.about__card small {
    font-size: 0.7rem;
    color: black;
}

.about__content p {
    margin: 2rem 1rem 2.6rem 1rem;
    text-align:justify;
    font-size: 0.9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about__content a {
    width: fixed;
    height: fixed;
    padding: 0.5rem;
    margin-left: 45%;
    background: transparent;
    color: var(--color-white);
}
.languages p {
    color: white;
    font-size: 65%;
}
.languages {
    display: flex;
}
.languages img {
    margin:auto;
    width: 30%;
    height:auto;
}

/* ///media queries ////  */
@media screen and (max-width:1023px){
    .gallery img {
        visibility: hidden;
    }
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 35%;
        margin: 0 auto 2rem;
        height: 30vh;
    }
    .about__me-image {
        height:50%;
        width: 90%;
    }
    .about__content {
        margin: 1rem;
    }
    .about__content p {
        margin: 1rem;
    }
}
@media screen and (max-width:724px){
    .gallery img {
        visibility: hidden;
    }
    .gallery {
        visibility: hidden;
    }
    .gallery__1 {
        visibility:visible;
    }

    .about__me {
        visibility: hidden;
        width: 60%;
        height: 25vh;
        margin: auto;
    }
    .about__me-image {
        visibility: visible;
        height: 80%;
        width: 13rem;
    }
    .about__cards {
        grid-template-columns: repeat(2, 50%);
        gap: 0.6rem;
        margin: 2rem 3rem;
    }
    .about__card h5 {
        font-size:.8rem;
    }
    .about__content{
        text-align: center;
        margin: 0;
    }
    .about__content p {
        margin: 1.5rem 1rem;
        text-align: justify;
    }
    .about__content a {
        margin: auto;
    }
 
}
