
/* about me ---------------- -- */
 .about__container {
    display: grid;
    grid-template-columns: 35% 60%;
    gap:2%;
    padding: 0 2rem;
    margin: 2rem; 
}

.left-section {
    display: grid;
    grid-template-rows: 1fr .7fr;
    margin:1rem;
    height:80vh;
}

.about__me-img {
    height:15vh;
    margin:0 4rem;
}
.about__me-img img {
    height:auto !important;
}
.about_list ul li p{
    text-align: center;
}
.right-section  {
    height:80vh;
}
.me-btn{
    background-color: black;
    margin-top:10rem !important;
    height: max-content;
    width: max-content;
    padding: 0.5rem .4rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid  rgba(0, 0, 0, 0.355);
    color:rgb(255, 255, 255);
}
.highlight__word {
    color: green;
}

h6{
    color: rgb(253, 253, 253);
}
.about__card {
    background: var(--gray-100);
    background-color: rgba(0,0,0,1);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: rgb(250,250,250);
    border-color: var(--gray-100);
    cursor: default;
}

.about__icon {
    color: var(--blue-100);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size:1.5rem;
}
.about__card small {
    font-size: 0.7rem;
    color: black;
}

.about__content p {
    margin: 2rem 1rem 2.6rem 1rem;
    text-align:justify;
    font-size: 0.9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about__content a {
    width: fixed;
    height: fixed;
    padding: 0.5rem;
    margin-left: 45%;
    background: transparent;
    color: var(--color-white);
}

.languages {
    display: flex;
}
.languages img {
    width: 20%;
    height:auto;
}

/* ///media queries ////  */
@media screen and (max-width:1023px){
    .gallery img {
        visibility: hidden;
    }
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 35%;
        margin: 0 auto 2rem;
        height: 30vh;
    }
    .about__me-image {
        height:50%;
        width: 90%;
    }
    .about__content {
        margin: 1rem;
    }
    .about__content p {
        margin: 1rem;
    }
}
@media screen and (max-width:724px){
    .gallery img {
        visibility: hidden;
    }
    .gallery {
        visibility: hidden;
    }
    .gallery__1 {
        visibility:visible;
    }

    .about__me {
        visibility: hidden;
        width: 60%;
        height: 25vh;
        margin: auto;
    }
    .about__me-image {
        visibility: visible;
        height: 80%;
        width: 13rem;
    }
    .about__cards {
        grid-template-columns: repeat(2, 50%);
        gap: 0.6rem;
        margin: 2rem 3rem;
    }
    .about__card h5 {
        font-size:.8rem;
    }
    .about__content{
        text-align: center;
        margin: 0;
    }
    .about__content p {
        margin: 1.5rem 1rem;
        text-align: justify;
    }
    .about__content a {
        margin: auto;
    }
 
}
