.gallery {
    --s: 150px; /* control the size */
    --g: 10px;  /* control the gap */
    display: grid;
    /* margin: calc(var(--s) + var(--g)); */
  }
  
  .gallery > img {
    grid-area: 1/1;
    width: 40%;
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0 50%);
    transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
    cursor: pointer;
    filter: grayscale(80%);
    transition: .2s linear;
    margin-left: 7.6rem;
    margin-top: -15rem ;
  }
  .gallery > img:hover {
    filter: grayscale(0);
    z-index: 1;
    --_t: 1.2;
  }
  
  .gallery > img:nth-child(1) {--_y: calc(-100% - var(--g))}
  .gallery > img:nth-child(7) {--_y: calc( 100% + var(--g))}
  .gallery > img:nth-child(3),
  .gallery > img:nth-child(5) {--_x: calc(-75% - .87*var(--g))}
  .gallery > img:nth-child(4),
  .gallery > img:nth-child(6) {--_x: calc( 75% + .87*var(--g))}
  .gallery > img:nth-child(3),
  .gallery > img:nth-child(4) {--_y: calc(-50% - .5*var(--g))}
  .gallery > img:nth-child(5), 
  .gallery > img:nth-child(6) {--_y: calc( 50% + .5*var(--g))}
  

  /* ///////////media gallery //////////////  */
  .gallery__1 {
      visibility:hidden;
    --s: 120px; /* control the size */
    display: grid;
    grid: auto-flow var(--s) / repeat(2,var(--s));
    gap: 10px;
    place-items: center;
    margin: 0 0 0rem 2rem;
    transform: rotate(45deg);
  }
  .gallery__1 > img {
    width: 100%; 
    aspect-ratio: 1;
    object-fit: cover;
    transform: rotate(-45deg);
  }
/* about me ---------------- -- */
.about__container {
    display: grid;
    grid-template-columns: 35% 60%;
    gap:5%;
    /* margin: 2rem; */
} 
.about__me {
    width: 26rem;
    height: 70vh;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    /* background: #b9b8b5; */
    display:grid;
    /* place-items: center; */
    margin-top: -10%;
    margin-left: -4rem;
}
.about__me:hover  {
 background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary), 
        transparent
    ); 
}
.highlight__word {
    color: var(--color-primary);
}
.about__me-image {
    visibility: hidden;
    /* height: 180px;
    width: 15rem;
    border-radius: 1.5rem;
    overflow:scroll;
    transform: rotate(20deg);
    transition: var(--transition); */
}
.about__me-image:hover {
    transform: rotate(0);
}
.about__cards {
    display: grid;
    grid-template-columns: repeat(4, .8fr);
    gap: 1.5rem;
}
.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size:1.5rem;
}
.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}
.about__content p {
    margin: 2rem 1rem 2.6rem 1rem;
    font-size: 0.9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about__content a {
    width: fixed;
    height: fixed;
    padding: 0.5rem;
    margin-left: 45%;
    background: transparent;
    color: rgb(255, 255, 255);
}

/* ///media queries ////  */
@media screen and (max-width:1023px){
    .gallery img {
        visibility: hidden;
    }
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 35%;
        margin: 0 auto 2rem;
        height: 30vh;
    }
    .about__me-image {
        height:50%;
        width: 90%;
    }
    .about__content {
        margin: 1rem;
    }
    .about__content p {
        margin: 1rem;
    }
}
@media screen and (max-width:724px){
    .gallery img {
        visibility: hidden;
    }
    .gallery {
        visibility: hidden;
    }
    .gallery__1 {
        visibility:visible;
    }

    .about__me {
        visibility: hidden;
        width: 60%;
        height: 25vh;
        margin: auto;
    }
    .about__me-image {
        visibility: visible;
        height: 80%;
        width: 13rem;
    }
    .about__cards {
        grid-template-columns: repeat(2, 50%);
        gap: 0.6rem;
        margin: 2rem 3rem;
    }
    .about__card h5 {
        font-size:.8rem;
    }
    .about__content{
        text-align: center;
        margin: 0;
    }
    .about__content p {
        margin: 1.5rem 1rem;
        text-align: justify;
    }
    .about__content a {
        margin: auto;
    }
 
}
