.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 32% 58%;
    gap: 10%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--blue-100);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--green) !important;
}
.contact__option a{
    color: var(--green) !important;
}
.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    box-shadow: 5px 5px 2px; 
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline_block;
    font-size: 0.8rem;
    text-decoration: none;
}

/* ////////////////////////////////  ----------------------------FORM------------------------------------ ////////////////////  */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    border-radius: .5rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5;
    background: transparent;
    border: 2px solid var(--green);
    resize: none;
    color: var(--color-white);
}
button {
    margin-left: 45%;
}
/* ////////////////////////////////  ---------------------------MEDIAS QUERIES (MEDIUN DEVICES)------------------------------------ ////////////////////  */
@media screen and (max-width: 1024px) {
    .contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    button {
        margin-left: 75%;
    }
}

/* ////////////////////////////////  ---------------------------MEDIAS QUERIES (SMALL DEVICES)------------------------------------ ////////////////////  */
@media screen and (max-width: 624px) {
    .contact__container {
        width: var(--container-width-sm);
    }
    .contact__options {
        width: 100%;
        margin:auto;
    }
    button {
        margin-left: 35%;
    }
}