.ex-icon {
    color: var(--green);
    /* color: rgb(255, 0, 225); */
}
#experience a {
    margin-left: 40%;
}
.experience__container {
    padding-top:0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.experience__details {
    background: transparent;
    box-shadow: 0 2px 12px 0 rgba(35, 35, 35, 0.37);
    backdrop-filter: blur( 5px );
    border-top-left-radius: 1rem; 
    border-bottom-right-radius: 1rem;
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur( 5px );
    padding: .7rem 3rem;
    width:max-content;
    margin:auto;
}

/* .experience__container>div:hover {
    background: var(--blue-80);
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--white) !important;
} */

.experience__container>div h3 {
    color: var(--color-primary) ;
    font-size:40px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 0.40rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}
.text-light {
    color: var(--gray-100) !important;
}
/* media queries */

@media screen and (max-width:700px) {
    .experience__container {
        grid-template-columns: 1fr;
    }
    .experience__container > div {
        width: 100%;
        padding: 2rem;
        /* margin: 0 auto; */
    }
    .experience__content {
        padding:  1rem;
    }
    h4{
        font-size: 1rem;
    }
    .experience__content {
        gap: 1.2rem;
    }
    .ex-icon {
        font-size: .8rem;
    }
}