.ex-icon {
    color: var(--green-color);
}
#experience a {
   margin-left:45% !important;
}
.experience__container {
    padding-top:0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.experience__details {
    background: transparent;
    box-shadow: 0 2px 12px 0 rgba(35, 35, 35, 0.37);
    backdrop-filter: blur( 5px );
    border-top-left-radius: 1rem; 
    border-bottom-right-radius: 1rem;
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur( 5px );
    padding: .7rem 3rem;
    width:max-content;
    margin:auto;
}

.experience__container>div h3 {
    color: var(--color-primary) ;
    font-size:40px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 0.40rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}
.text-light {
    color: var(--gray-100) !important;
}
/* media queries */

@media screen and (max-width:725px) {
    #experience a {
        margin-left:25% !important;
        margin:1%;
     }
    .experience__container {
        grid-template-columns: 1fr;
        height:max-content;
    }
    .experience__container > div {
        width: 100%;
        height:max-content;
    }
    .experience__frontend h3{
        margin:0 !important;
        padding: 0;
        font-size: 16px !important; 
    }
    .experience__details {
        background: transparent;
        box-shadow: 0 2px 12px 0 rgba(35, 35, 35, 0.37);
        backdrop-filter: blur( 5px );
        border-top-left-radius: 1rem; 
        border-bottom-right-radius: 1rem;
        border: 1px solid transparent;
        -webkit-backdrop-filter: blur( 5px );
        padding: .3rem 1rem;
        width:max-content;
        margin:auto;
    }
    .experience__details div h5, .experience__details div small {
        font-size:12px;
    }
    .one, .three, .five {
        margin:1rem 50% 1rem 0;
    }
    .two, .four, .six {
        margin:0 0 0 50%;
    }
    .experience__content {
        padding:0 10%;
        display: block;
    }
    h4{
        font-size: 1rem;
    }
    h2{
        margin:0 !important;
    }

    .ex-icon {
        font-size: .8rem;
    }



    /* back */
    .experience__backend h3{
        margin:0 !important;
        padding: 0;
        font-size: 16px !important;  
    }
    .first, .third, .fifth { 
    margin:1rem 50% 1rem 0;
         
        
    } 
    .second, .fourth, .sixth {
        margin:0 0 0 50%;
    } 
}