.ex-icon {
    color: var(--green);
    /* color: rgb(255, 0, 225); */
}
#experience a {
    margin-left: 40%;
}
.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container>div {
    background: var(--gray-20);
    padding: .7rem 3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* border-radius: 2rem; */
    border: 1px solid transparent;
}

.experience__container>div:hover {
    background: var(--blue-80);
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--white) !important;
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary) 
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 0.40rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}
.text-light {
    color: var(--gray-100) !important;
}
/* media queries */

@media screen and (max-width:700px) {
    .experience__container {
        grid-template-columns: 1fr;
    }
    .experience__container > div {
        width: 100%;
        padding: 2rem;
        /* margin: 0 auto; */
    }
    .experience__content {
        padding:  1rem;
    }
    h4{
        font-size: 1rem;
    }
    .experience__content {
        gap: 1.2rem;
    }
    .ex-icon {
        font-size: .8rem;
    }
}