footer {
    background: rgb(2,0,36);
    border-top : solid 1.5px rgba(240,240,240, 0.4);
    border-bottom : solid 1.5px rgba(240,240,240, 0.4);
    margin-top: .5rem;
    padding-top: 2rem;
    display:grid;
    grid-template-columns:  1fr 1.2fr .8fr;
}
.left__footer img {
    border-radius :10%;
    height: 150px;
    width: 150px;
    margin: auto;
}
.left__footer a {
    font-family:fantasy;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    color:white;
}
.fronted{
    font-size:.8rem;
    margin-top:-15px;
}
.left__footer {
    display: grid;
    grid-template-rows: 0.4fr  1fr;
    padding:2rem;
}
.center__footer{
    display: grid;
    grid-template-rows: .3fr;
}
.center__footer  li a {
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: fantasy;
}
.center__footer li {
    margin: auto;
    padding: 0;
}

.right__footer img {
    width: 90px;
    height:110px;
    margin-top: 30%;
}
/* ////////////////////////////////  ---------------------------MEDIAS QUERIES (MEDIUN DEVICES)------------------------------------ ////////////////////  */
@media screen and (max-width: 1024px) {
    
}

/* ////////////////////////////////  ---------------------------MEDIAS QUERIES (SMALL DEVICES)------------------------------------ ////////////////////  */
@media screen and (max-width: 724px) {
    footer {
        display:grid;
        grid-template-columns:  1fr;
    margin-top: 1rem;
    padding-top:1rem;

    }
 
    .center__footer{
        gap: 2rem;
    }
    .center__footer li a:hover{
       color: var(--color-white);
    }
    .right__footer {
        height: 250px
    }

    .right__footer img {
        width: 45%;
        height: 100%;
        /* border-radius: 0%; */
        margin:auto;
        padding-bottom: 1rem;
    }
}