header {
    padding: 1.6rem;
    overflow: hidden;

}

.header__contianer {
    background-color: var(--white);
    height: 90vh;
    display: grid;
    grid-template-areas: 
    "head cta"
    "name photo"
    "empty date";
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-columns:1fr 1fr;
    margin-top: 4.5rem !important;
    padding-top: 2rem;
    position: relative;
    text-align: center;
    width: 90% !important;
    

}

.header__contianer > .one {
    grid-area: head;
  }
  .header__contianer  > .two {
    grid-area: cta;
  }
  .header__contianer > .three {
    grid-area: name;
  }
  .header__contianer > .four {
    grid-area: photo;
  }
  .header__contianer > .five {
    grid-area: empty;
  }
  .header__contianer > .six {
    grid-area: date;
  }

  .six {
    margin: auto;
}
.header__info {
    padding: 4rem 0 0 2rem;
}
.header__info h1,h3,h4{
    font-size: 3em;
    transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 3s;
  transition-timing-function:linear;
  
}

/* ||CTA||  */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/* ||social media|| */
.header__social {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 1.6rem;
    bottom: 3rem;
    z-index: 2;
    background: rgba(157, 155, 155, 0.087);
    width: max-content;
    padding: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

}

.header__social::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* //////////////////////////////ME////////////////////////////////////////////////// */
.me {
    width: 22rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius:50%;
    margin: -1rem auto 3rem;
    border: 0.4rem solid var(--color-light);
}
.me img {
    width: 100%;
    height: 100%;
    /* margin: auto; */
}

/* .me img {
   
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.30);
} */

/* ||||||||||||Scroll down ||||||||||//////////////////////////////////////////////////////////////  */
.scroll__down {
    position: fixed;
    right: 1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    z-index: 3;
    text-decoration: none;
}

/* media queries   */
@media screen and (max-width:700px) {
    header {
        height: 100vh;
    }
    .cta {
        margin: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .cta a {
        font-size: .5rem;
        text-align: center;
    }

    .me {
        /* background: linear-gradient(#5d00af, #daaeee, #1a31ff, transparent); */
        background: linear-gradient(var(--color-primary), transparent);
        width: 15rem;
        height: 22rem;
        position: absolute;
        left: calc(50% - 8rem);
        margin-top: 2rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        /* padding: 3.5rem 1.5rem 1.5rem 1.5rem; */
        backdrop-filter: blur(25rem);
    }
    .me img {
        width: 100%;
        height: 100%;
    }
    .header__social {
        width: 12%;
        font-size: 85%;
        left: .5rem;
        bottom: 30rem;
        top: 1.5rem;
        left: 1rem;
        /* z-index: 3; */
        max-height: fit-content;
    }
    .scroll__down {
        /* position: absolute;
        right: -10%; */
        visibility: hidden;
    }

}