header {
    padding: 1.6rem;
    overflow: hidden;
    /* background: linear-gradient(#5d00af, #45aadd, transparent); */

}

.header__contianer {
    padding-top: 2rem;
    text-align: center;
    width: 90% !important;
    height: 100vh;
    position: relative;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.80); */

}
.header__info { 
    margin-top: 40%;
}
.header__info h1,h3,h4{
    font-size: 3em;
    transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 3s;
  /* font-size: 36px; */
  transition-timing-function:linear;
}
/* ||CTA||  */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ||social media|| */
.header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 2rem;
    bottom: 3rem;
    z-index: 2;
    background: rgba(157, 155, 155, 0.087);
    width: max-content;
    padding: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

}

.header__social::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* || ME ||  */
/* .me {
    background: transparent;
     background: linear-gradient(var(--color-primary), transparent); 
    width: 20rem;
    height: 40rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 25rem 25rem 0 0;
    overflow: hidden;
    padding: 2rem 0rem .1rem 0rem;
    justify-content: center;
    justify-items: center;
    border: 1px solid var(--color-white);
    filter: saturate(150%);
    box-shadow: 0px 0px 10px 10px var(--color-primary); }

.me:hover {
    background: linear-gradient(#031746, #4695db, #72b0e6,  #b7b5b5, transparent);
} */

/* .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 40rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 25rem 25rem 0 0;
    overflow: hidden;
    padding: 2rem 0rem .1rem 0rem;
    justify-content: center;
    justify-items: center;
    border: 1px solid var(--color-white);
    filter: saturate(150%);
} */
.me {
    width: 25rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius:50%;
    margin: -25rem auto 1rem;
    border: 0.4rem solid var(--color-light);
}
.me img {
    width: 90%;
    height: 100%;
    margin: auto;
}

/* .me img {
   
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.30);
} */

/* ||||||||||||Scroll down ||||||||||//////////////////////////////////////////////////////////////  */
.scroll__down {
    position: fixed;
    right: 1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    z-index: 3;
    text-decoration: none;
}

/* media queries   */
@media screen and (max-width:700px) {
    header {
        height: 100vh;
    }
    .cta {
        margin: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .cta a {
        font-size: .5rem;
        text-align: center;
    }

    .me {
        /* background: linear-gradient(#5d00af, #daaeee, #1a31ff, transparent); */
        background: linear-gradient(var(--color-primary), transparent);
        width: 15rem;
        height: 22rem;
        position: absolute;
        left: calc(50% - 8rem);
        margin-top: 2rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        /* padding: 3.5rem 1.5rem 1.5rem 1.5rem; */
        backdrop-filter: blur(25rem);
    }
    .me img {
        width: 100%;
        height: 100%;
    }
    .header__social {
        width: 12%;
        font-size: 85%;
        left: .5rem;
        bottom: 30rem;
        top: 1.5rem;
        left: 1rem;
        /* z-index: 3; */
        max-height: fit-content;
    }
    .scroll__down {
        /* position: absolute;
        right: -10%; */
        visibility: hidden;
    }

}