.heading__contianer {
        /* background: rgba( 255, 255, 255, 0.35 ); */
        background: transparent;
        box-shadow: 0 8px 32px 0 rgba(35, 35, 35, 0.37);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 5px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        height: 8%;
        position: fixed;
        width: 100vw;
        z-index: 2;
     
}
.heading__img {
        margin:auto;
}
.heading__img img{
        background-color: rgb(0, 0, 0);
        border-radius:50%;
        height: inherit !important;
        margin-left: 30%;
        width: 10%;
}
.heading__img img:hover {
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 8px 32px 0 rgba(213, 214, 223, 0.225);
        backdrop-filter: blur( 30px );
        -webkit-backdrop-filter: blur( 30px );
        border-radius: 10px;
        border-radius: 3px;
        height: 8rem !important;
        margin:2rem 0 0 -5.5rem;
        width: 7rem;
       
}       
.heading__list ul {
        display:flex;
        justify-content: space-between;
        margin:2%;
}
.heading__list ul  li {
        font-size: 23px;
}
.menu__icon {
        font-size:28px;
        margin: 4% 0 0 85%;
}

@media screen and (max-width:724px){
        .heading__img {
                margin:auto;
        }
        .heading__img img{
                background-color: rgb(0, 0, 0);
                border-radius:50%;
                height: inherit !important;
                margin-left: 30%;
                width: 20%;
                margin-top:-15%;
        }
        .heading__list ul {
            visibility: hidden;
        }
        .heading__close {
                margin-right: 10%;
        }
        .menu__icon {
                font-size:28px;
                margin: 4% 10% 0 85%;
        }
}