.portfolio__container {
    display: grid;
    grid-template-columns: repeat(auto-fill,max-content);
    gap: 1em;
    padding-top:0 !important;
    justify-items: stretch;
    margin:2%;
    margin-bottom: 2%;;
}
#portfolio{
    height: max-content !important;
}
.btn {
    background-color: black !important;
    color:white;
}
h2{
    padding:5px !important;
    color: rgba(0, 0, 0, 0.552);
    text-align: right;
}
.portfolio__item {
    padding: 5px;
    border-radius:.5rem;
    transition: var(--transition);
    display:grid;
    grid-template-columns: .5fr 1fr;
}
.project-icon{
    font-size: 1rem;
}
.portfolio__item{ 
    border-right: 1px solid var(--gray-40);
    border-bottom: 1px solid var(--gray-40);
    border-left: none !important;
    border-top: none !important;
    /* background: rgba(255, 255, 255, 0.735) ; */
    box-shadow: 0px 2px 4px; 
    border-radius:.5rem;
}

.portfolio__item-img {
    border-radius: .5rem;
    overflow: hidden;
    height: auto;
}
.item__links {
    width: 100%;
    margin: 10%;
}
.portfolio__item-cta a {
    justify-content: space-between;
    display:flexbox;
    text-align: center;
    padding-left:10px;
    color:black;
    font-size: 22px;
    margin-left:5%
}
.portfolio_links{
    width:fit-content;
    padding:3px;
    margin: 1px;
}

.btn-g, .btn-d {
    width: max-content;
    display: inline-block;
    backdrop-filter: blur(12px);
    background:var(--gray-20);
    padding: 0.35rem .2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid black;
    transition: var(--transition);
    text-decoration: none;
    margin: auto;
}
.more__projects-btn{
    display:flex ;
    width:100%;
    justify-content: space-around;
    margin: 1%;
}


/* ////////// MEDIAS QUERIES (MEDIUM DEVICES) ////////  */
@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: repeat(auto-fill,40vw);
        gap: 1.2rem;
        justify-content: space-around;
    }
    .container {
        width:100vw !important;
    }
}

/* ////////// MEDIAS QUERIES (SMALL DEVICES) ////////  */
@media screen and (max-width:725px) {
    .portfolio__container {
        display: grid;
        grid-template-columns:1fr;
        /* grid-template-columns: repeat(content,fixed); */
        gap: 1em;
        padding-top:0 !important;
        justify-items: stretch;
    }
    .portfolio__item {
        width: 95%;
        margin: auto;
        border-radius: 1rem;
    }
    .portfolio-title {
        font-size: .8rem;
    }
    .portfolio__item-cta a {
        font-size: 12px;
        display:block;
    }
    .more_project {
    font-size:12px;
    background: rgba(12, 213, 99, 0.928);
    color:black;
}
}




/* More portfolio page */
#more-portfolio{
    background-color: rgba(216, 216, 89, 0.115) !important;
    height: max-content !important;
    padding-bottom: 2%;
    margin:auto;
}