.portfolio__container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-template-columns: repeat(content,fixed); */
    gap: 1em;
    padding-top:0 !important;
}
#portfolio{
    height: max-content !important;
    padding-bottom: 2%;
}
h2{
    margin:-15px 0 5px 0 !important;
    padding:0 !important;
    color: rgba(0, 0, 0, 0.552);
    text-align: center;
}
.portfolio__item {
    padding: .8rem 1.3rem;
    border-radius:1rem;
    /* border: 1px solid var(--gray-20); */
    transition: var(--transition);
}
.project-icon{
    margin:.5rem;
    font-size: 1rem;
}
.portfolio__item{ 
    border-right: 1px solid var(--gray-40);
    border-bottom: 1px solid var(--gray-40);
    border-left: none !important;
    border-top: none !important;
    background: rgba(255, 255, 255, 0.735) ;
    box-shadow: 0px 2px 4px; 
    border-radius:1rem;
}

.portfolio__item-img {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 200px;
}
/* .portfolio__item-img img {
    height: inherit;
    width: 100%;
    margin-left: 1rem;
} */

.portfolio__item-cta{
    margin-top:-15px !important;
}
.portfolio__item-cta a {
    display:block;
    text-align: center;
}
.btn-g, .btn-d {
    width: max-content;
    display: inline-block;
    backdrop-filter: blur(12px);
    background:var(--gray-20);
    padding: 0.35rem .2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid black;
    transition: var(--transition);
    text-decoration: none;
    margin: auto;
}
.btn-g:hover {
    color: var(--gray-20) !important;
    background-color: var(--green) !important;
}
.more_project {
    margin-left: 45% !important;
    margin-top: 2%;
}

/* ////////// MEDIAS QUERIES (MEDIUM DEVICES) ////////  */
@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr ;
        gap: 1.2rem;
    }
}
/* ////////// MEDIAS QUERIES (SMALL DEVICES) ////////  */
@media screen and (max-width:650px) {
    .portfolio__container {
        grid-template-columns:  1fr ;
        gap: 1rem;
        margin: 5% !important;
    }
    .portfolio__item {
        background: var(--color-bg-variant);
        width: 95%;
        margin: auto;
        border-radius: 1rem;
    }
}