.testimonials__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius:50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}
.testimonial {

    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    /* width: 70%;
    margin: auto; */
}
.testimonial:hover {
    border: 1px solid var(--color-light);
}
.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/* //////// MEDIAS QUERIES (MEDIUN DEVICES) //////////  */
@media screen and (max-width: 1024px) {
}
/* //////// MEDIAS QUERIES (SMALL DEVICES) //////////  */
@media screen and (max-width: 670px) {
    .testimonials__container {
        display: grid;
        grid-template-columns: 1fr;
      }
    .client__review {
        width: var(--contianer-width-sm)
    }
    .client__review {
        width: var(--container-width-sm);
    }

}
