@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    /* --color-bg-variant: #aeee89; */
    --color-primary: #0000007b;
    --btn-primary: #08dff7;
    --underline-color: #0033ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: rgb(0, 0, 0);
    --white: white;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease-in-out;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
    --titles-gray: #d5d5cc;
    /* Escala de grises  */
    --gray-20: #dcdcdc;
    --gray-40: #d3d3d3;
    --gray-60: #c9c9c9;
    --gray-80: #bdbdbd;
    --gray-100: #a7a7a7;
    /* escala de azules   */
    --blue-20: #2859ad;
    --blue-40: #004091;
    --blue-60: #002c74;
    --blue-80: #001958;
    --blu-100: #00003d;
}

html {
    scroll-behavior: smooth;
}

*/ ::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-color: rgb(227, 227, 227);
}

/* "https://p4.wallpaperbetter.com/wallpaper/165/975/632/line-dark-light-vertical-wallpaper-preview.jpg" */

/* //////////////////////////////////////////////////////////////// */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem; 
}
h3 {
    color: var(--gray-40)
}
section {
    margin: 6rem;
    padding:1.5rem;
    height: max-content;
    border-top-style:dashed;
    background-color: white;
    padding-bottom: 3rem;
}

section>h2,
section>h5 {
    margin-top: 1%;
    text-align: center;
    color: var(--gray-40);
}

section>h2 {
    color: var(--color-white);
    margin-bottom: 3rem;
}

/* .text-light {
    color: var(--color-white);
} */

a {
    color: var(--color-white);
    transition: var(--transition)
}

a:hover {
    color: var(--titles-gray);

}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.35rem .2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid black;
    transition: var(--transition);
}

.btn:hover {
    background: var(--titles-gray);
    color: var(--color-bg)
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}
/* .cta {
    display:flex;
    justify-content: space-between;
} */

/* || media queries (MD) */
@media screen and (min-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}
/* || media queries (SD) */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    section {
        margin-top: 10%;
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}